<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error</title>
  </head>
  <style media="screen">
    .red{
      background-color: red;
      color: yellow;
      font-size: 1em;
    }
  </style>
  <body>
    <div class="red">
      <p>Error</p>
    </div>
  </body>
</html>
